@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant supports-timeline-scroll {
  @supports (animation-timeline: scroll()) {
    @slot;
  }
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-instrument-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-edge: var(--edge);
  --color-link: var(--link);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-custom: var(--shadow-custom);
  --shadow-custom-brand: var(--shadow-custom-brand);
  --shadow-custom-contrast: var(--shadow-custom-contrast);
  --shadow-popover: var(--shadow-popover);

  --animate-fade-in: fade-in var(--tw-duration, 200ms) ease-out;
  --animate-fade-out: fade-out var(--tw-duration, 200ms) ease-out;
  --animate-collapsible-fade-down: collapsible-down var(--tw-duration, 200ms)
      ease-out,
    fade-in var(--tw-duration, 200ms) ease-out;
  --animate-collapsible-fade-up: collapsible-up var(--tw-duration, 200ms)
      ease-out,
    fade-out var(--tw-duration, 200ms) ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --popover-border: color-mix(in oklab, var(--color-black) 15%, transparent);
  --primary: oklch(0.556 0.2453 261.33);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --success: oklch(0.723 0.219 149.579);
  --success-foreground: oklch(0.985 0 0);
  --info: oklch(0.67 0.17 244.98);
  --info-foreground: oklch(0.985 0 0);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));
  --link: oklch(0.488 0.243 264.376);
  --selection: oklch(0.141 0.005 285.823);
  --selection-foreground: oklch(0.985 0 0);
  --radius: 0.75rem;
  --shadow-custom: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-custom-brand: 0px 1px 2px rgba(0, 0, 0, 0.4),
    0px 0px 0px 1px var(--color-brand-secondary),
    inset 0px 0.75px 0px rgba(255, 255, 255, 0.2);
  --shadow-custom-contrast: 0px 1px 2px rgba(0, 0, 0, 0.4),
    0px 0px 0px 1px var(--color-contrast),
    inset 0px 0.75px 0px rgba(255, 255, 255, 0.2);
  --shadow-popover: 0 6px 24px rgba(0, 0, 0, 0.25);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --popover-border: oklch(0.37 0.013 285.805);
  --primary: oklch(0.556 0.2453 261.33);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.19 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --destructive: oklch(0.505 0.213 27.518);
  --destructive-foreground: oklch(0.985 0 0);
  --success: oklch(0.723 0.219 149.579);
  --success-foreground: oklch(0.985 0 0);
  --info: oklch(0.67 0.17 244.98);
  --info-foreground: oklch(0.985 0 0);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.552 0.016 285.938);
  --edge: color-mix(in oklab, var(--border) 64%, var(--background));
  --link: oklch(0.623 0.214 259.815);
  --selection: oklch(0.985 0 0);
  --selection-foreground: oklch(0.141 0.005 285.823);
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility screen-line-before {
  @apply relative before:absolute before:top-0 before:left-0 before:right-0 before:-z-1 before:h-px before:bg-edge;
}

@utility screen-line-after {
  @apply relative after:absolute after:bottom-0 after:left-0 after:right-0 after:-z-1 after:h-px after:bg-edge;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  ::selection {
    @apply bg-selection text-selection-foreground;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  /* Custom scrollbar styling. Thanks @shadcn-ui */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  [id] {
    @apply scroll-mt-22;
  }

  @keyframes show-top-mask {
    to {
      --top-mask-height: var(--mask-height);
    }
  }

  @keyframes hide-bottom-mask {
    to {
      --bottom-mask-height: 0px;
    }
  }

  @keyframes show-left-mask {
    to {
      --left-mask-width: var(--mask-width);
    }
  }

  @keyframes hide-right-mask {
    to {
      --right-mask-width: 0px;
    }
  }
}
